<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">
  <title>Login Signup</title>

  <style>
    #indicator{
      height: 5px;
      background-color: #01321f;
      border-radius: 5px;
      width: 60px;
      transform: translateX(18rem);
    }
  </style>
</head>
<body>
  <!--Forms Start-->
  <div class="accounts  py-32" id="account">
    <div class="  sm:py-12 px-12 py-6 sm:px-24">
        <div class="grid md:grid-cols-2 relative  gap-6 items-center justify-center ">
            <div class="image ">
                <img src="../src/assets/Property-Square-black-backround--removebg-preview.png" class="  z-10 ">
            </div>   
            <div class="account-form bg-white sm:px-3  py-12 rounded-lg">
                    <div class="form-btn font-bold text-center py-4 ">
                        <span onclick="Login()" class="pr-4 text-gray-700 cursor-pointer">Login</span>
                        <span onclick="Register()" class="text-gray-700 cursor-pointer " >Register</span>
                        <p id="indicator" class=" h-6 w-[60px] duration-200 hidden xl:block" ></p>
                    </div>
                    <!--Login Form Starts-->
                    <form id="Login-Form" class=" translate-x-0 transition-all duration-700 w-2/3 mx-auto bg-white ">
                      <div class="my-3">
                        <label for="username" class="ml-1" >Enter the username:</label>
                      
                        <input type="text" name="username" placeholder="username" class="px-6 rounded-md py-4 w-full mx-1 mt-2 border">
                      </div>
                     <div>
                      <label for="password" class="ml-1 mt-3" >Enter the password:</label>
                        
                      <input type="password" placeholder="Enter the password" class="px-6 rounded-md  w-full py-4 mx-1 mt-2 border" >
                     </div>
                      
                        <div class="flex items-center my-3 ml-1">
                          <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 mr-3 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                          <label for="checkbox-all-search" >Remember Me</label>

                      </div>
                        <button class="text-center flex justify-center w-full mx-auto text-white rounded-md items-center px-5 py-4 mt-4 btn bg-blue-600">Login</button>
                        <a href="#" class="flex justify-center items-center mt-3">Forget Password</a>
                    </form>
                     <!--Login Form Ends-->
                      <!--Signup Form Starts-->
                    <form id="Register-Form" class="translate-x-1/2  transition-all duration-700 w-2/3 mx-auto hidden bg-white">
                      <div class="my-3">
                        <label for="usernameRegister" class="ml-1" >Enter the username:</label>

                        <input type="text" name="usernameRegister" placeholder="Username" class="px-6 py-4 mt-2 w-full rounded-md mx-1 border">

                      </div>
                      <div class="my-3">
                        <label for="emailRegister" class="ml-1" >Enter the Email:</label>

                        <input type="email" placeholder="Email" class="px-6 py-4 mt-2 w-full rounded-md mx-1  border">

                      </div>
                      <div class="my-3">
                        <label for="passwordRegister" class="ml-1" >Enter the Email:</label>

                        <input type="password" name="passwordRegister" placeholder="Password" class="px-6 py-4 mt-2 w-full rounded-md  mx-1  border">

                      </div>
                        <button class="text-center flex justify-center  w-full mx-auto   btn  text-white rounded-md items-center px-5 py-4 mt-4 btn bg-blue-600">Register</button>
                    </form>
                     <!--Login Form Ends-->
                   
            </div>
        
             
        </div>
    </div>
</div>
 <!--Forms End-->
 <script src="../src/javascript/transform.js"></script>

</body>
</html>